<%- include('../../layouts/header') %>
<div
  class="container d-flex align-items-center justify-content-center"
  style="height: 100vh"
>
  <h1 class="text-center">Hello World</h1>
</div>
<%- include('../../layouts/footer') %>
